@import "../../src/assets/common/variables";

.bannerTitle {
  color: $color-white;
  font-family: $pt-sans;
  font-size: 3.5em;
  padding: 0 8%;
}

.wordMap {
  background-attachment: fixed;
  background-image: url(https://www.cambly.com/static/images/world-map.png);
  background-position: 100% 20px;
  background-repeat: no-repeat;
  height: 400px;
  mix-blend-mode: luminosity;
  opacity: 0.15;
  position: absolute;
  right: -100px;
  top: -120px;
  width: 100%;
  will-change: transform;
}
