@import '../../src/assets/common/mixins';

.container {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
    @include media(mobil) {
        width: 100%;
    }
}