@import "../../src/assets/common/variables";
@import "../../src/assets/common/mixins";

.footer {
  width: 100%;
  background-color: $color-super-silver;

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    @include media(mobil) {
      justify-content: center;
    }
  }

  .navbar {
    margin: 0;
  }

  .socialMedia {
    display: flex;
    @include media(mobil) {
      display: none;
    }

    img {
      filter: grayscale(100%) opacity(70%) brightness(60%);
      height: 20px;
      margin: 5px;
      width: 20px;
    }
  }

  span {
    box-sizing: border-box;
    color: $color-black;
    flex-shrink: 0;
    font-family: $pt-sans;
    font-size: 13px;
    font-weight: 600;
    min-width: 72px;
    opacity: 0.6;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: normal;
  }
}
