@import '../../src/assets/common/variables';
@import '../../src/assets/common/mixins';


.studentPlanInfo {
    display: flex;
    height: 100%;
    margin: 0 10px;
    position: relative;
    @include media(mobil) {
        display: none;
    }
    .shortInfo {
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0px 4px;
        font-family: $pt-sans;
    }

    .timeInfo {
        color: rgba(0, 0, 0, 0.3);
        font-size: 11px;
        font-weight: 600;
    }

    .lessonMinuteInfo {
        color: $color-carbon;
        font-size: 16px;
        font-weight: 600;
        margin: 3px 0;
    }

    .lessonSuccessDot {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .lessonDot {
        border-radius: 100%;
        border: none;
        height: 10px;
        width: 10px;
    }

    .arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .infoMenu {
        background: $color-white;
        display: flex;
        flex-direction: column;
        height: max-content;
        left: -100px;
        position: absolute;
        top: 50px;
        z-index: 999;
        .infoCard {
            height: auto;
            margin: 8px;
            padding: 10px;
            width: 300px;
            display: inline-block;
        }
        .cardTitle {
            font-size: 24px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.334;
        }
        .leftMinutes {
            color: rgba(0, 0, 0, 0.6);
            margin: 10px 0;
        }
        .border {
            background-color: rgba(34, 136, 145, 0.8);
            border-radius: 2px;
            display: flex;
            height: 6px;
            overflow: hidden;
            width: 100%;
        }
        
        .statusText {
            display: block;
            margin-top: 5px;
            color: $color-steel-wool;
            font-size: 16px;
        }

        .yourPlan {
            align-items: center;
            border: 1px solid $color-river-fountain;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            padding: 15px 10px;

            .planTime {
                color: $color-carbon;
                font-size: 18px;
                font-weight: bold;
            }

            .changeBtn {
                font-size: 11px;
                color: $color-river-fountain;
            }
        }

        .buyTimes {
            background-color: $color-river-fountain;
            color: $color-white;
            display: flex;
            font-size: 12px;
            font-weight: bold;
            justify-content: center;
            margin-top: 15px;
            padding: 8px 0;
            text-decoration: none;
            width: 100%;
        }
    }
}