//Colors

$color-white: #ffffff;
$color-black: #000000;
$color-carbon: #333333;
$color-steel-wool: #777777;
$color-river-fountain: #228891;
$color-super-silver: #eeeeee;

//Fonts
$pt-sans: 'PT Sans', sans-serif;