@import "../../src/assets/common/variables";
@import "../../src/assets/common/mixins";

.card_grid {
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: $pt-sans;
  height: 220px;
  margin: 0 10px 20px;
  padding: 10px;
  position: relative;
  width: 100%;
  float: left;
  @include media(tablet) {
    max-width: 32%;
    min-width: 351px;
  }
}
.card_grid_header {
  display: flex;
  .card_grid_title {
    margin: 0 0 10px 0;
    font-size: 19px;
    color: $color-black;
  }
  .img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 10px;
  }

  .card_grid_info {
    display: flex;
    flex-direction: column;
  }

  .card_grid_location {
    display: flex;
    align-items: center;
    font-size: 14px;
    .card_grid_badge {
      width: 30px;
      margin-right: 5px;
      color: $color-steel-wool;
    }
  }

  .card_grid_certificate {
    display: flex;
    margin-top: 5px;
    .info_card {
      margin-right: 5px;
      padding: 8px 10px;
      background-color: $color-super-silver;
      border-radius: 5px;
      font-size: 12px;
    }
  }

  .card_fav_action {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
}
.card_grid_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card_grid_text {
    font-size: 14px;
    color: $color-gray;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card_grid_btn_wrapper {
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 10px;
    right: 10px;

    .card_grid_btn {
      border: none;
      padding: 8px 20px;
      font-size: 12px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
